Source: onionperf
Maintainer: Tor Metrics <metrics-team@lists.torproject.org>
Section: net
Priority: optional
Build-Depends: debhelper (>= 11),
               dh-python,
               cmake,
               make,
               build-essential,
               gcc,
               libigraph0-dev,
               libglib2.0-dev,
               python,
               python-ipaddress,
               python-lxml,
               python-matplotlib,
               python-netifaces,
               python-networkx,
               python-nose,
               python-numpy,
               python-scipy,
               python-stem (>=1.7)
Standards-Version: 4.1.3

Package: onionperf
Architecture: any
Depends: ${python:Depends},
         ${shlibs:Depends},
         ${misc:Depends},
         python-ipaddress,
         python-lxml,
         python-matplotlib,
         python-netifaces,
         python-networkx,
         python-nose,
         python-numpy,
         python-scipy,
         python-stem (>=1.7)
Description: Tor Performance Measurement Tool
 Tor Performance Measurement Tool
